root = true

[*.{cs,xaml,xml,resx,config,json,md,txt,ps1}]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sln,slnx}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
